.slide-2 {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.48s ease-in-out;
}

.content-hide-2 {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.features-content{
    z-index: 0;
}